/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



header {
   font-family: "CooperFiveOpti-Black";
   background-image: url(2020-12-0922.01.14.png);
   background-size: contain;
   height: 70px;
   width: 100%;
   z-index: 9998;
   position: fixed;
   color: cornsilk;
}

.header-logo {
   float: left;
   margin-left: 100px;
   margin-top: 15px;
}

.header-list {
   margin-right: 100px;
}

.header-list li {
   color: cornsilk;
   list-style: none;
   float: right;
   margin-right: 20px;
   margin-top: 15px;
}

.bg-dark {
   background-color: transparent !important;
}

main {
   padding-top: 130px;
   background-image: url(aditya-joshi-wG923J9naFQ-unsplash.jpg);
   background-size: contain;
}