.users-new{
    color: cornsilk;
    display: grid;
    place-items: center;

    h2{
        font-family: "CooperFiveOpti-Black";
        padding: 5px 15px;
        margin-bottom: 10px;
        margin-left: -150px;
    }
    
    .field{
        background-image: url(joshua-bartell-6vvIBTvL90A-unsplash.jpg);
        background-size: contain;
        border: cornsilk solid 1px;
        border-radius: .50rem;
        padding: 10px;

        label{
            border: 1px cornsilk inset;
            border-radius: 10px;
            box-shadow: 0 0 0 1px cornsilk;
            margin-top: 5px;
            padding: 0px 10px;
        }
    }
    
    a{
        background-image: url(joshua-bartell-6vvIBTvL90A-unsplash.jpg);
        background-size: contain;
        color: cornsilk;
        border: 1px cornsilk inset;
        border-radius: 10px;
        padding: 5px 10px; 
    }
    .login{
        margin-bottom: 100px;
    }
}